<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680908606851-snecbj1iqgl031qfhmv99pjn556evkqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680908606851-snecbj1iqgl031qfhmv99pjn556evkqs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>680908606851-gnp6a2oed4l4el49fngbjggrkbc4mnad.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvIo8e2NTWsCqDbCbpHJ4FPZ4cEEE3doE</string>
	<key>GCM_SENDER_ID</key>
	<string>680908606851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tw.com.datapkt.nexly</string>
	<key>PROJECT_ID</key>
	<string>nexly-d2dcc</string>
	<key>STORAGE_BUCKET</key>
	<string>nexly-d2dcc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680908606851:ios:7aece545c55db7494d7ab6</string>
</dict>
</plist>